.article__index{
    margin-top: 212px;
    margin-bottom: none;
    padding-bottom: 60px;
}

.card2{
    margin-bottom: 10px;
    width: 300px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-3deg);
}

.card1{
    margin-bottom: 10px;
    width: 300px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(3deg);
}

.card__fond{
    background-color: var(--white-color);
    margin-bottom: 0px;
    width: 300px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 25px 0px var(--black-color);
}

.card__img {
    display: block;
    width: 262px;
    height: 228px;
    object-fit: cover;
}

.card__punaise{
    display: block;
    width: 17px;
    height: 17px;
    margin-top: 10px;
}

.card__titre{
    color: var(--black-color);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.card__texte{
    color: var(--black-color);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.card__btn{
    text-decoration: none;
    display:block;
    background-color: var(--green-color);
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family-3);
    font-size: var(--text);
    padding: 8px 12px; 
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 150px;
    margin-top: -5px;
    margin-bottom: 40px;
    box-shadow: 5px 10px 25px 0px var(--black-color);
}

.index__header{
    background-color: var(--pink-color);
    padding-top: 40px;
    padding-bottom:40px;
    height: 647px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.index__header--titre{
    font-family: var(--font-family);
    font-weight: bolder;
    font-size: 40px;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 10px;
}

.index__header--legende{
    text-align:end;
    margin-right: 8%;
    font-style: italic;
    font-size: 14px;
    font-family: var(--font-family-3);
}

.index__header--intro{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
}

.index__header--card{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-3deg);
    width: 300px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.index__header--card--fond{
    background-color: var(--white-color);
    margin-bottom: 0px;
    width: 300px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 25px 0px var(--black-color);
}

.article__deco1{
    display: block;
    width: 45%;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
}

.article__deco2{
    display: block;
    width: 45%;
    object-fit: contain;
    margin-bottom: 10px;
}

