.article__header{
    padding-left: 50px;
    padding-right: 50px;
    background: linear-gradient(to bottom, #E3075F 0%, #1D0042 100%);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article__header--text{
    text-align: center;
    margin-bottom: 20px;
}

.article__contenu{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.article__contenu--text{
    margin-top: 20px;
}

.article__contenu--subtitle{
    margin-top: 40px;
    margin-bottom: 20px;
}

.article__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 335px;
}

.article__container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 274px;
}

.article__container--media{
    width: 335px;
    height: 223px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.article__container2--media{
    width: 274px;
    height: 274px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.article__container--legend{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.article__container2--legend{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.article__container--line3 {
    display: block;
}

.article__container--legend--line3{
    margin-left: auto;
    margin-right: auto;
}

.article__container2--line2{
    display: block;
}

.article__container2--legend--line2{
    margin-left: auto;
    margin-right: auto;
}

.article__lineconclu2{
    position: relative;
    display: block;
    margin: auto;
}

.article__btn{
    text-decoration: none;
    display: inline-block;
    background-color: var(--green-color);
    border-radius: 100px; 
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family-3);
    font-size: var(--text);
    padding: 8px 12px; 
    margin-left: 20px;
    cursor: pointer;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 40px;
}
   
.article__ba--videofr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.article__ba--videofr video {
    width: 335px;
    height: 188px;
    box-shadow: 4px 4px 0px 0px var(--pink-color);
}

.article__ba--videoen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.article__ba--videoen video {
    width: 335px;
    height: 188px;
    box-shadow: 4px 4px 0px 0px var(--pink-color);
}