.header {
    background-color: var(--black-color);
    height: 119px;
    border-bottom: var(--green-color) solid 4px;
  }
  
  .header__elements {
    display: flex;
    align-items: center;
  }
  
  .header__elements--home{
    margin-top: 35px;
    margin-bottom: 1px;
    margin-left: 20px;
    height: 46px;
    width: 46px;   
}

.header__elements--logo{
  top: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__language{
  display: flex;
  margin-left: 24px; 
  text-decoration: none;/* Ajoutez cette ligne pour aligner avec header__elements--home */
}

.header__language--FR{
  font-weight:bolder;
}

.header__home-language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__language--EN{
  font-weight: bolder;
}