.header {
    background-color: var(--black-color);
  }
  
  .header__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__elements--home{
    margin-top: 21px;
    margin-bottom: 1px;
    margin-left: 20px;
    height: 46px;
    width: 46px;   
}

.header__elements--logo{
    margin-top: 0px;
    margin-bottom: 0px;
}

.header__elements--menu{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    height: 48px;
    width: 48px;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

.header__language{
  display: flex;
  margin-left: 24px; 
  text-decoration: none;/* Ajoutez cette ligne pour aligner avec header__elements--home */
}

.header__language--FR{
  font-weight:bolder;
}

.header__home-language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__language--EN{
  font-weight: bolder;
}