.card2{
    margin-bottom: 70px;
    width: 335px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-3deg);
}

.card1{
    margin-bottom: 70px;
    width: 335px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(3deg);
}

.card__fond{
    background-color: var(--white-color);
    margin-bottom: 0px;
    width: 335px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 25px 0px var(--black-color);
}

.card__img {
    display: block;
    width: 297px;
    height: 228px;
}

.card__punaise{
    display: block;
    width: 17px;
    height: 17px;
    margin-top: 10px;
}

.card__titre{
    color: var(--black-color);
    margin-top: 10px;
}

.card__texte{
    color: var(--black-color);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.card__btn{
    text-decoration: none;
    display:block;
    background-color: var(--green-color);
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family-3);
    font-size: var(--text);
    padding: 8px 12px; 
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 150px;
    margin-top: -5px;
    margin-bottom: 40px;
    box-shadow: 5px 10px 25px 0px var(--black-color);
}