*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: var(--blue-color);
}

h1{
    font-weight: bold;
    font-family: var(--font-family);
    font-size: var(--heading-1);
    color: var(--white-color);
    letter-spacing: 1.5px;
    line-height: 1.5;
}

h2{
    font-weight: normal;
    font-size: var(--heading-2);
    font-family: var(--font-family-2);
    color: var(--white-color);
    letter-spacing: 0.7px;
    word-spacing: 1px;
    line-height: 1.5;
}

h3{
    font-weight: bold;
    font-family: var(--font-family);
    font-size: var(--footer);
    color: var(--white-color);
}

p{
    font-weight: normal;
    font-family: var(--font-family-3);
    font-size: var(--text);
    color: var(--white-color);
    line-height: 1.5;
}

figcaption{
    font-weight: normal;
    font-family: var(--font-family-3);
    font-size: var(--legend);
    font-style: italic;
    color: var(--white-color);
}

